/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.component {
  margin-bottom: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  font-weight: 450;
}

button:hover {
  background-color: #818181;
}

.idea-item {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.idea-item h3 {
  margin: 0;
  font-weight: 530;
}

.idea-item button {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

.idea-item button:hover {
  color: #000000;
}

.edited-label {
  margin-right: 25px;
  position: relative;
  bottom: 3px;
}
